@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace, serif;
}

a {
    text-decoration: none;
}

:root {
    --primary-font: 'Space Mono', monospace, serif;

    --color-strongCyan: hsl(172, 67%, 45%);
    --color-veryDarkCyan: hsl(183, 100%, 15%);
    --color-darkGrayishCyan: hsl(186, 14%, 43%);
    --color-grayishCyan: hsl(184, 14%, 56%);
    --color-lightGrayishCyan: hsl(185, 41%, 84%);
    --color-veryLightGrayishCyan: hsl(189, 41%, 97%);
    --color-white: hsl(0, 0%, 100%);  

    --font-size: 16px;
    --font-input-size: 24px;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-lightGrayishCyan);
}

.calculator-container {
    width: 70vw;
    display: flex;
    gap: 20px;
    border-radius: 15px;
    background-color: var(--color-white);
}

.calculator {
    width: 50%;
    margin: 40px;
}

.input-group label {
    display: block;
    font-size: var(--font-size);
    color: var(--color-darkGrayishCyan);
}

.input-group input {
    width: 97%;
    display: block;
    padding: 10px 20px;
    border: none;
    font-size: var(--font-input-size);
    text-align: right;
    border-radius: 4px;
    color: var(--color-veryDarkCyan);
    background-color: var(--color-veryLightGrayishCyan);
}   

.label-container {
    margin-top: 40px;
}

.tips-group {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 15px;
}

.tips-group input{
    display: inline-block;
    width: calc(33.33% - 20px);
    text-align: center;
    color: var(--color-veryDarkCyan);
}

.tip-button {
    width: calc(33.33% - 20px);
    padding: 10px 30px;
    margin-right: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
    font-size: var(--font-input-size);
    color: var(--color-white);
    background-color: var(--color-veryDarkCyan);
}

.dollar-sign{
    position: absolute;
    margin-top: -35px;
    margin-left: 25px;
}

.people-sign{
    position: absolute;
    margin-top: -35px;
    margin-left: 25px;
}

.input-group input:focus, input:hover{
    outline: 2px solid var(--color-strongCyan);
    cursor: pointer;
}  

.tips-group input:focus{
    text-align: right;
    cursor: pointer;
    background-color: var(--color-veryLightGrayishCyan);
}

.tip-button:hover{
    cursor: pointer;
    color: var(--color-veryDarkCyan);
    background-color: var(--color-strongCyan);
    transition: all 0.4s;
}

.calculation-result {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 40px 40px 40px -40px;
    padding: 60px 40px;
    border-radius: 10px;
    background-color: var(--color-veryDarkCyan);
}

.calculation-amount {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.main-title {
    color: var(--color-lightGrayishCyan);
    font-size: 18px;
}

.subtitle {
    color: var(--color-grayishCyan);
    font-size: 14px;
}

.amount {
    font-weight: 700;
    font-size: 36px;
    color: var(--color-strongCyan);
}

.reset {
    margin-top: 100px;
    border-radius: 4px;
    width: 100%;
    padding: 10px 20px;
    border: none;
    text-transform: uppercase;
    font-size: 20px;
    color: var(--color-veryDarkCyan);
    background-color: var(--color-strongCyan);
    opacity: 0.15;
}

.reset:hover{
    cursor: pointer;
    color: var(--color-veryDarkCyan);
    background-color: var(--color-strongCyan);
    opacity: 1;
    transition: all 0.4s;
}