@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(./images/bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.left-side {
    color: hsl(0, 100%, 100%);
    width: 30%;
    margin-left: 200px; 
}

.main-heading {
    font-size: 49px;
    font-weight: 700;
    line-height: 1.1;
}

.main-content{
    margin-top: 30px;
    font-weight: 400;
    margin-right: 20px;
    opacity: 0.82;
}

.right-side {
    width: 30%;
    margin-right: 200px;
}

.right-side > .message {
    background-color: hsl(248, 32%, 49%);
    padding: 20px 20px;
    color: hsl(0, 100%, 100%);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 7px 0 0 rgba(0, 0, 0, 0.18);
}

.card {
    background-color: hsl(0, 100%, 100%);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0px 7px 0 0 rgba(0, 0, 0, 0.18);
}

.card form input {
    width: 100%;
    padding: 15px 35px;
    border: 1px solid hsla(246, 25%, 77%, 0.5);
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    color: hsl(249, 10%, 26%);
    caret-color: hsl(249, 10%, 26%);
}

input::placeholder, input {
    font-weight: 600;
}

input:hover, input:focus {
    outline: hsl(249, 10%, 26%)  solid 1px;
}

.input-group {
    margin: 20px;
}

.input-group.error input {
    border: 1px solid hsl(0, 100%, 74%);
}

.input-group.error .message{
    color: hsl(0, 100%, 74%);
}

.input-group.error input::placeholder{
    color: hsl(0, 100%, 74%);
}

.button {
    width: 100%;
    padding: 15px 35px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    margin-bottom: -5px;
    background-color: hsl(154, 59%, 51%);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: hsla(0, 100%, 100%, 0.82);
    text-transform: uppercase;
    box-shadow: inset 0px -3px 0 0 rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
}

.privacy-message {
    margin-bottom: 30px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: hsl(246, 25%, 77%);
}

.privacy-message a {
    text-decoration: none;
    color: hsl(0, 100%, 74%);
    font-weight: 700;
}

