@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Lexend Deca', sans-serif;   
    font-size: 15px; 
    background-color: hsl(0, 0%, 95%);
}

.service {
    width: 250px;
    padding: 40px;
    color: hsla(0, 0%, 100%, 0.75);
}

.service-container {
    display: flex;
    justify-content: center;
    border-radius: 15px;
    overflow: hidden;
}

.service-sedans {
    background-color:  hsl(31, 77%, 52%);
}

.service-suv {
    background-color: hsl(184, 100%, 22%);
}

.service-luxury {
    background-color: hsl(179, 100%, 13%);
}

.service-title {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 34px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 30px;
}

.service-content{
    font-weight: 400; 
}

.service-button {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    margin-top: 40px;
    padding: 15px 20px;
    border: none;
    border-radius: 20px ;
    background-color: white;
}

.service-sedans .service-button {
    color:  hsl(31, 77%, 52%);
}

.service-suv .service-button {
    color: hsl(184, 100%, 22%);   
}

.service-luxury .service-button {
    color: hsl(179, 100%, 13%);
}